[submodule "vendor/lumen"]
	path = vendor/lumen
	url = https://github.com/t4ce/Lumen
[submodule "crates/trueos-shader"]
	path = crates/trueos-shader
	url = https://github.com/t4ce/trueos-shader.git
[submodule "vendor/limine"]
	path = vendor/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v10.x
	ignore = untracked
