bld/
.limine/
tgt/
target/
*.img
virglrenderer-1.0.0/
Cargo.lock
node_modules
package.json
package-lock.json
bunny.mkv
yelly.mp4
*.gguf
tools/*.gguf
tinyllama/
.codex_tmp/
*_pre_exec_handle_14_off_0x0_len_0x8000000.bin
