IO_LOC "clk" P16;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;

IO_LOC "pcie_perst_n" L23;
IO_PORT "pcie_perst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF;

IO_LOC "usr_led0" J14;
IO_PORT "usr_led0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "usr_led1" R26;
IO_PORT "usr_led1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "usr_led2" L20;
IO_PORT "usr_led2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "usr_led3" M25;
IO_PORT "usr_led3" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "usr_led4" N21;
IO_PORT "usr_led4" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
